.data-table {
    display: table;
    width: 100%;
    background-color: #fff;
}

.data-table__head {
    display: table-header-group;
}

.data-table__row {
    display: table-row;
}

.data-table__row_active {
    background-color: #f1f7f9;
}

.data-table__cell {
    display: table-cell;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #e9eaeb;
    padding: 10px;
}

.data-table__cell_theme_sort {
    background-color: #e1e1f0;
}
/*
.data-table__cell_theme_input {
    background-color: #e1e1f0;
}
*/

.data-table__head .data-table__cell {
    position: relative;
    border-top: 0;
    color: #92989b;
}

.data-table_add-icon_dash::after {
    position: absolute;
    top: 45%;
     -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    font-family: 'FontAwesome';
    font-size: 30px;
    content: '\2010';
    cursor: pointer;
}
.data-table_add-icon_up::after {
    position: absolute;
    top: 40%;
    right: 10px;
    font-family: 'FontAwesome';
    font-size: 10px;
    content: '\f077';
    cursor: pointer;
}
.data-table_add-icon_down::after {
    position: absolute;
    top: 40%;
    right: 10px;
    font-family: 'FontAwesome';
    font-size: 10px;
    content: '\f078';
    cursor: pointer;
}

.data-table__cell_align_center {
    text-align: center;
}

.data-table__cell_align_right {
    text-align: right;
}


.data-table__cell_add_icon {
    width: 1%;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.data-table__img-wrapper {
    cursor: pointer;
}

.data-table__img {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

.data-table__img-wrapper:hover .data-table__img {
    opacity: 1;
}